.justify-center {
  justify-content: center;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-between {
  justify-content: space-between;
}
.items-center {
  align-items: center;
}
.items-start {
  align-items: flex-start;
}
.none {
  display: none;
}
.block {
  display: block;
}
.hidden {
  overflow: hidden;
}
.w-full {
  width: 100%;
}
.m-w-full {
  max-width: 100%;
}
.h-full {
  height: 100%;
}
.slide-x {
  width: 100%;
  overflow-x: auto;
  white-space: pre;
}
.white-pre {
  white-space: pre;
}
.no-border {
  border: none;
}

.no-padding {
  padding: 0;
}
.keep-all {
  word-break: keep-all;
}
.pointer {
  cursor: pointer;
}

@for $i from 1 through 50 {
  .gap-#{$i} {
    gap: $i + px;
  }
  .mg-#{$i} {
    margin: $i + px;
  }
  .mb-#{$i} {
    margin-bottom: $i + px;
  }
  .pd-#{$i} {
    padding: $i + px;
  }
  .pt-#{$i} {
    padding-top: $i + px;
  }
  .pb-#{$i} {
    padding-bottom: $i + px;
  }
}

.t1 {
  font-size: 22px;
  word-spacing: -0.02em;
  color: var(--gray-900);
  font-weight: 800;
  line-height: 28px;
}
.t2 {
  font-size: 20px;
  word-spacing: -0.02em;
  color: var(--gray-900);
  font-weight: 700;
  line-height: 25px;
}
.t3 {
  font-size: 18px;
  word-spacing: -0.02em;
  color: var(--gray-900);
  font-weight: 600;
  line-height: 23px;
}
.t4 {
  font-size: 16px;
  word-spacing: -0.01em;
  color: var(--gray-900);
  font-weight: 600;
  line-height: 21px;
}
.t5 {
  font-size: 15px;
  word-spacing: -0.01em;
  color: var(--gray-900);
  font-weight: 500;
  line-height: 20px;
}
.b1 {
  font-size: 14px;
  word-spacing: -0.01em;
  color: var(--gray-800);
  line-height: 18px;
}
.b2 {
  font-size: 13px;
  word-spacing: -0.01em;
  color: var(--gray-800);
  line-height: 17px;
}
.b3 {
  font-size: 12px;
  word-spacing: -0.01em;
  color: var(--gray-600);
  line-height: 15px;
}
.android {
  line-height: 1.5;
  .t1 {
    line-height: 32px;
  }
  .t2 {
    line-height: 30px;
  }
  .t3 {
    line-height: 27px;
  }
  .t4 {
    line-height: 24px;
  }
  .t5 {
    line-height: 22px;
  }
  .b1 {
    line-height: 21px;
  }
  .b2 {
    line-height: 19px;
  }
  .b3 {
    line-height: 18px;
  }
}
.ios {
  line-height: 1.3;
}
.modal-open {
  overflow: hidden;
}
.radio-box {
  .icon {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.year-select-box,
.month-select-box {
  display: flex;
  align-items: center;
  .MuiSelect-select {
    padding: 5px;
    border-radius: 0;
  }
  fieldset {
    border: none;
  }
  .Mui-focused {
    background-color: rgba(0, 0, 0, 0.05);
    border-bottom: 2px solid #0075ff;
    border-radius: 0;
  }
}

.Mui-checked svg {
  & > circle:nth-child(1),
  & > rect:nth-child(1) {
    fill: var(--primary-color);
  }
}

.MuiDrawer-root {
  display: flex;
  justify-content: center;
  &.muidrawer-left {
    & > :nth-child(3) {
      width: 199px;
      height: 100vh;
      left: calc((100% - 360px) / 2);
      right: auto;
    }
  }
  &.muidrawer-bottom {
    & > :nth-child(3) {
      width: 100%;
      background-color: transparent;
      border-radius: 16px 16px 0 0;
      left: auto;
      right: auto;
      max-width: var(--max-width);
    }
  }
}
.loader-container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.main-container-desktop {
  width: 100%;
  max-width: 360px;
  background-color: white;
  position: relative;
}

.main-container-mobile {
  width: 100%;
  max-width: 100%;
  background-color: white;
}

#portals-modal {
  display: flex;
  justify-content: center;
  background-color: #f2f4f7;
}

*::-webkit-scrollbar {
  display: none !important;
  width: 0 !important;
  background-color: transparent;
  height: 0;
  background: transparent;
}
.intro-wrapper {
  position: absolute;
  top: calc(50% - 250px);
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-wrapper {
  position: relative;
  max-width: 180px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(120deg, transparent, transparent, rgba(255, 255, 255, 0.226));
    animation: animation-16jpnkj 2.5s ease-in-out infinite;
  }
  .logo {
    /* animation: 1s appear; */
    margin: auto;
  }
}

.dark-theme .logo-bg-animate {
  .logo {
    text {
      fill: var(--nextui-colors-secondary);
    }
  }
  &:after {
    background-image: linear-gradient(120deg, transparent, transparent, #1a1c2342) !important;
  }
}
@keyframes animation-16jpnkj {
  from {
    background-position: -200px 0;
  }
  to {
    background-position: calc(200px + 100%) 0;
  }
}
@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
    background: transparent;
    box-shadow: none;
  }
  40% {
    transform: scale3d(1, 1, 1);
    background: transparent;
    box-shadow: none;
    opacity: 1;
  }
  100% {
    box-shadow: none;
    background: transparent;
  }
}

@keyframes expand {
  from {
    width: 0;
    height: 0;
    overflow: hidden;
    margin: 0;
    background: transparent;
    box-shadow: none;
  }

  60% {
    width: 0;
    background: transparent;
    box-shadow: none;
  }
  to {
    width: 114px;
    background: transparent;
    box-shadow: none;
    height: 0;
    overflow: hidden;
    margin: 0;
  }
}

@keyframes lateFadeIn {
  from {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
